/*-- Eléments divers --*/
:root {
    --primary-bg-color:#2E2E34;
    --secondary-bg-color:#EEEEF2;
    --secondary-color:#F5484A;
}
body{
    font-size: 16px;
}

.container{
    padding-top: 60px;
    padding-bottom: 60px; 
}

h2{margin-bottom: 20px;}
a{
    color:inherit;
    text-decoration: none;
}
a:hover{color: var(--secondary-color);}

#formations_experience, #works, .footer{
    color:#FFF;
    background-color: var(--primary-bg-color);
}
dd{
    margin-left: 40px;
    margin-bottom: 40px;
    
}
dt::before{
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:var(--secondary-color);
    border-radius: 50%;
    margin-bottom: 2px;
}


#infos, #skills, #contact{
    background-color: var(--secondary-bg-color);
}
.btn, .btn:visited{
    border-radius: 0;
    padding: 10px 50px;
    background-color: var(--secondary-color);
    border:none;
    text-transform: uppercase;
}
.btn:hover, .btn:active, .btn:focus{
    background-color: var(--primary-bg-color);
}


/* -- Accueil --*/
#home{
    height: 100%;
    background : url('../static/img/header-bg.jpg') center fixed;
    background-size: cover;
    color: #FFF;
}
.header-baseline{
    margin : 100px auto;
}
.header-baseline h1{ 
    margin-bottom: 30px;
    color:#2E2E34;
    font-weight: 600;
}
.header-baseline img{
    margin: auto;
    max-width: 150px;
    margin-bottom: 30px;
}
.header-baseline p{ margin-bottom: 30px;}

/* -- Infos -- */
.infos_sup{
    margin-top: 50px;
    margin-bottom: 50px;
}
.citation{
    border-right: 5px solid var(--primary-bg-color);
}

/* Skills */
.progress-bar-success{
    background-color: var(--secondary-color);
}

.skill{
    margin-bottom: 60px;
}


/* -- Works --*/
#works .media{
    background-color: #FFF;
    margin-bottom: 60px;
    color: black;
}

/* -- Contact --*/
#contact .input-group{
    width: 100%;
    padding: 2% 0;
}
#contact .input-group input{
    border:none;
    border-radius: 0;
    font-size: 14px;
}
#contact .input-group textarea{
    height: 170px;
    border: none;
    font-size: 14px;
}

/* -- Footer --*/
.footer .adresse ul{
    list-style-type: none;
    padding:0;
}
.social-network i{
    padding-right: 10px;
    font-size: 1.7em;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 970px) {
    .work{
        padding: 10px;
    }
    #home {
        background-attachment: scroll; 
    }
}